{% extends 'menu.html' %}
{% load crispy_forms_tags %}
{% block title %} Perfis {% endblock %}

{% block content %}

<div class="custom-container">
    <p> <i class="fas fa-address-card" style="margin-left: 20px;"></i> /home/perfis/novo</p>
</div>
<div class="mt-2 white-container">
    <div class="offset-1 col-10 list-div">
        <h1>Novo Perfil</h1>
        <form method="POST">
            <div class="card-body">
                {% csrf_token %}

                {{ form|crispy }}
            </div>
            <div class="card-body">
                <input type="submit" class="btn btn-primary" value="Gravar">
                <button type="button" class="btn btn-danger" onclick="history.back()">Fechar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}